/*------global stuffs-------*/
:root {
    box-sizing: border-box;
    font-size: calc(1vw + 0.6em);
    font-family: circular std book, sans-serif;
    color: #40495F;
}

*,
*::before,
*::after {
    box-sizing: inherit
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

body {
    width: 100%;
    
}

h1 {
    font-size: 40px;
    font-weight: 100;
    color: #40495F;
}

h3 {
    font-size: 24px;
}

.btnStarted {
    display: block;
    text-decoration: none;
    color: #EBB044;
    border: 2px solid #EBB044;
    border-radius: 3px;
    width: 175px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
}

.btnLearnMore {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #587BC9;
    border-radius: 2px;
    width: 175px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    margin-top: 30px;
}

.btnSignup {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #EBB044;
    border-radius: 2px;
    width: 120px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    font-weight: 400;
    font-family: Circular Std book;
    font-size: 20px;
}


a {
    text-decoration: none;
}


/*------nav-------*/


.site-nav {
    display: flex;
    padding: 1em 0 ;
    list-style-type: none;
    
}

.site-nav > li {
    margin-top: 0;
}

.site-nav > li > a {
    display: block;
    padding: .5em 1em;
    color: black;
    text-decoration: none;
}

.site-nav > li + li {
    margin-left: 1.5em;
}

.site-nav > .nav-left {
    margin-right: auto;
}

.site-nav > li:first-child > a {
    font-family: circular std bold;
    color: #EBB044;
    font-size: 34px;
    vertical-align: middle;
    padding: 0;
}

.site-nav > li:nth-child(2) > a{
    font-family: lato thin, sans-serif;
    color: #3ABABA;
}

.site-nav > li:nth-child(3) > a{
    font-family: lato thin, sans-serif;
    color: #3ABABA;
}

.site-nav > li:nth-child(4) > a{
    font-family: lato thin, sans-serif;
    color: #3ABABA; 
}

.site-nav > li:last-child > a{
    font-family: circular std book, sans-serif;
    color: white;
    background: #EBB044
}
.landingWrapper {
    width: 83%;
    margin: auto
}

.landingContent {
    width: 83%;
    margin-top: 150px;
    display: flex;
}

.contentLeft {
    flex: 0 0 55%;
    margin-top: 100px
}

.contentLeft h1 {
    font-family: circular std book, sans-serif;
    color: #40495F
}
.contentRight {
    flex: 0 0 45%;
}

.about {
    width: 83%;
}

.aboutContent {
    width: 83%;
    display: flex;
}

.aContentLeft {
    flex: 0 0 35%;
}

.aContentRight {
    flex: 0 0 65%;
    margin-top: 250px;
}

.services {
    width: 83%;
    margin: auto;
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 100px;
}

.services h1 {
    grid-column: 1 / 4;
    grid-row: span 1;
    text-align: center;
    margin-bottom: 50px;
}

.point {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.img {
    width: 150px;
    height: 150px;
    margin: auto;
}

.more {
    width: 83%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-auto-flow: 20% 40% 40%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.more h1 {
    grid-column: 1 / 4;
    grid-row: span 1;
    text-align: center;
    margin-bottom: 50px;
}

.callToAction {
    width: 83%;
    margin: auto;
    margin-top: 100px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.callToAction {}

.btnCTA {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #587BC9;
    border-radius: 2px;
    width: 175px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    margin-top: 30px;
}

footer {
    width: 83%;
    margin: auto;
    margin-bottom: 1.5em;
}

footer p {
    display: inline;
}

.footerPages {
    float: right;
    text-align: right;
}

.footerPages.pages a {
    margin-left: 25px;

}


/*-------Login Modal*/

.modal {
    display: none;
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(43, 65, 221, 0.5)
}

.modal-body {
    position: fixed;
    top: 3em;
    bottom: 2em;
    right: 30%;
    left: 30%;
    background-color: #70A3C5;
    overflow: hidden;
}

.modal-close {
    cursor: pointer;
}

input[type=text],
input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 19px;
    display: inline-block;
    border: 1px solid #ccc;
}

input[type=checkbox] {
    margin: 26px 8px 26px 30px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
}

button:hover {
    opacity: 0.8;
}

.formFields a {
    text-decoration: none;
    float: right;
    margin-right: 34px;
    margin-top: 22px;
}

.imgContainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.modal-close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: red;
    cursor: pointer;
}

.animate {
    animation: zoom 0.6s
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}



/*---------Sign up---------*/

.bg-image {
    width: 100%;
    height: 100vh;
    background-image: url(images/Group%20137.svg);
    background-size: cover;
    background-position: ;
    overflow: hidden;
}
.form-container {
    max-width: 400px;
    overflow: hidden;
    margin: 10px auto;
    margin-top: 50px;
    padding: 10px 20px;
    background: #3ABABA;
    border-radius: 8px;
    border: 1px solid #EBB044;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2)
}

.form-container * + * {
    margin-top: .5em;
}

.form-container h1 {
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
}

.signup-form > * {
    font-family: lato thin, sans-serif;
}
.form-container p {
    font-weight: bold;
}

.form-container input {
    width: 100%;
    margin-bottom: 20px;
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-containerinput[type="number"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.form-container input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.form-container input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}
